/* Font import from fonts.google.com  */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #262626;
}

#personalname_logo {
    max-width: 30%;
    max-height: 30%;
}

header {
    display: flex;
    align-items: center;
}

ul {
    font-family: Mooli, sans-serif, Monospace;
    font-size: 100%;
}