/* Font import from fonts.google.com  */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mulish&display=swap');

* {  /* Global styles */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #262626;
}

/* ================ TOP NAV AND LOGO ================ */

#personalname_logo {
    max-width: 75%;
    max-height: 75%;
    display: flex;
}

header {
    display: flex;
    padding: 50px 10%;
}

li, a {
    font-family: Mooli, sans-serif, Monospace;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;  /* Removes dot that comes defauly w/ <li> */
}

.nav_links li {
    display: inline-block;  /* Displays nav links side-by-side */
}

#onpage a {
    text-decoration: underline;
    text-decoration-color: #AB3428;
    text-decoration-thickness: 3px;
}

/* ================ BODY STYLES ================ */

.main_body {
    padding: 5px 10%;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: white;
}

.main_body h1 {
    font-weight: 1000;
    font-size: 36px;
}

.main_body a {
    text-decoration: underline;
}